body{
    background-color: black;
}
.top_page{
    display: flex;
}
.toi_lui{
    width: 10%;
}
.timkiem{
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 10px;
}
.tai_khoan{
    width: 20%;
    display: flex;
    justify-content: right;
}
a{
    text-decoration: none;
    color: white;
}
.library{
    width: 30%;
    display: flex;
}